/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Oswald\|Share\+Tech\+Mono\|Cutive\+Mono\|VT323\|Droid\+Sans\+Mono);

font1 = 'Oswald'
font2 = 'Share Tech Mono'
font3 = 'Cutive Mono'
font4 = 'VT323'
font5 = 'Droid Sans Mono'

currentFont = font1
fontSize = 24px
scanLineWidth = 1.0px

red1   = 0
green1 = 0
blue1  = 255
alpha1 = 0.25

red2   = 0
green2 = 0
blue2  = 0
alpha2 = 1.0

red3   = 0
green3 = 0
blue3  = 0
alpha3 = 1.0

* body
  width 100%
  height 100%
  padding 0px
  margin 0px
  overflow hidden
  text-align right
  image-rendering crisp-edges
  background rgba(red1,green1,blue1,alpha1) repeating-linear-gradient(top, transparent scanLineWidth * 0.5, transparent scanLineWidth, rgba(red2,green2,blue2,alpha2) scanLineWidth, rgba(red3,green3,blue3,alpha3) scanLineWidth*2.0)
  background-size 100% scanLineWidth*2
  mix-blend-mode overlay

#pleaseWait
  position relative
  color black
  background rgba(200,0,0,0.7)
  height 40px
  margin 0px

#cursorValue
  display block
  position absolute
  width 100%
  //background rgba(40,0,100,0.8)
  background rgba(0,0,0,0.5)
  z-index 99

#svg
  position relative
  background rgba(0,0,0,0.1)
  z-index -99

#penState
  color green

#error
  color red

.label
  text-shadow 0px 0px 3px #FFFFFF
  color #FFFFFF
  position relative
  font-size fontSize
  line-height fontSize*0.6
  margin-top 10px
  text-transform uppercase
  font-family currentFont
  //border-top #262626 solid 1px

.value
  text-shadow 0px 0px 3px #FFFFFF
  text-align right
  font-size fontSize
  line-height 0px
  font-weight lighter
  margin-right 10px
  margin-top (fontSize / 1.6) - (2 * fontSize)
  font-family currentFont
  text-transform uppercase

// .chart rect
//   fill steelblue

// .chart text
//   fill white
//   font 10px sans-serif
//   text-anchor end

.hidden
  display none

.no-error
  color rgb(0,255,90)

.error
  color rgb(255,0,0)
