/* CSS declarations go here */
* body
  width 100%
  height 100%
  margin 0px
  padding 0px
  overflow hidden
  background #262626

#pleaseWait
  color white
  margin-left 35%
  
#cursorValue
  background white
  color black
  display none

#val
  color blue

#penState
  color green

#error
  color black